<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="robots" content="all"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{{ title }} - {{ article["title"] }}</title>
	<link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css" media="screen">
</head>
<body>
<div id="content">
	<header>
		<h1 id="site-title">
			<a href="{{ url }}">{{ title }}</a>
		</h1>

		<h2 class="site-nav">
			<a href="{{ url }}">首页</a>
		</h2>

		<h2 class="site-nav">
			<a href="https://github.com/ryunhe">GitHub</a>
		</h2>

		<h2 class="site-nav">
			<a href="https://twitter.com/ryunhe">Twitter</a>
		</h2>
	</header>

	<div id="main">
        <div id="primary">
            <article>
                <div class="entry-header">
                    <h1 class="entry-title"><a href="/articles/{{ article["name"] }}">{{ article["title"] }}</a></h1>

                    <div class="entry-meta">
                        <span class="sep">Posted on <time class="entry-date">{{ article["date"] }}</time>
                            </a></span>
                    </div>
                </div>

                <div class="entry-content">
                    {{ (article["content"]) }}
                </div>
            </article>
        </div>
	</div>
	<footer>&copy;2013 Mocha.cc</footer>
</div>
</body>
</html>